<section class="vh-100" style="background-color: #2B2D42;">
  <div class="container py-3 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0" style="background-color: #D9DCD6;border-radius: 1rem;">
            <div class="col-md-6 col-lg-5 d-none d-md-block ">
              <img src="https://images.squarespace-cdn.com/content/v1/5e73d34be8950d2c8da50eb1/7daa08a7-5fe7-4c6e-88f9-0a60d3db3e26/Org+Structure+Review.png"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 text-black">

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0" style="color: #2B2D42;">Welcome to LearnerLog</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="color: #2B2D42;letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" placeholder="Email Address" class="form-control form-control-lg" [(ngModel)]="user.email" name="e1" #email="ngModel" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                    <small><span [class.d-none]="email.valid || email.pristine" >Please enter a valid email. </span><span [class.d-none]="!(email.touched && email.pristine)">This field is required.</span></small>

                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" placeholder="Password" class="form-control form-control-lg" style="color: #2B2D42;"[(ngModel)]="user.password" name="p1" #password="ngModel" required minlength="6"/>
                    <small><span [class.d-none]="password.valid || password.pristine" >Please enter atleast 6 characters. </span><span [class.d-none]="!(password.touched && password.pristine)">This field is required.</span></small>
                </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-lg btn-block" type="submit">Login</button>
                  </div>
<!-- 
                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                      style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a> -->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://kit.fontawesome.com/4fea67d148.js" crossorigin="anonymous"></script>